.ship-piece {
  background-color: green;
}

.salvo {
  background-color: blue;
}

.ship-piece-hitted {
  background-color: red;
}

title {
  margin-top: 10%;
}

section {
  width: 40%;
  margin-left: 7%;
}

#tabla1 {
  display: inline-block;
}

#tabla2 {
  display: inline-block;
}

#player1Info,
#player2Info {
  font-style: Arial 1em;
  margin-left: 35%;
}

body {
  background-image: linear-gradient(
    to right top,
    #1f4180,
    #2a4d90,
    #3459a0,
    #3f65b0,
    #4972c1,
    #576ab3,
    #6061a4,
    #655a96,
    #5a3f68,
    #432a40,
    #271820,
    #000000
  );
}
